<!-- 
 <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: blue;">
    <a class="navbar-brand" href="#">DoctorPatient</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Doctor</a>
            <a class="dropdown-item" href="#">Patient</a>
             </div>
        </li>
      </ul>
  </nav>


    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_authenticated %}
      <li style="color:white;padding:15px;">{{current_user.username}}</li>
      <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
      <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
      {% else %}
      <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
      {%endif%}
    </ul>   -->

    <nav class="navbar navbar-expand-lg navbar-light blue">

      <!-- Navbar brand -->
      <a class="navbar-brand" style="color:black"  href="/">DoctorPatient Application
          <span class="sr-only">(current)</span>
      </a>
    
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="basicExampleNav">
  
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link text-dark" style="color:black;" href="/">Home <span
                          class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-dark" style="color:black" href="{{ url_for('main.about') }}">About</a>
              </li>
  
          </ul>
    
        <ul class="navbar-nav ml-auto" >
          {% if current_user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" href = "/">{{current_user.username}}</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{url_for('main.profile',uname = current_user.username)}}">Profile</a>
              <a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a>
              {% else %}
              <a class="dropdown-item text-white" href="{{url_for('auth.login')}}">Login</a>
              {%endif%}
            </div>
          </li>
        </ul>
      </div>
    
    </nav>    